* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
html.light {
    --color-bg: white;
    --color-text: #21243D;
    --color-bg-light: #EDF7FA;
    --color-bg-trans: rgba(255, 255, 255, 0.5)
}
html.dark {
    --color-bg: #21243D;
    --color-text: white;
    --color-bg-light: #1e2d50;
    --color-bg-trans: rgba(0, 0, 0, 0.5)
}
html {
    scroll-behavior: smooth;
    transition: all 0.3s;
}
.container {
    max-width: 856px;
    margin: 0 auto;
}
body.hidden {
    overflow: hidden;
}
body {
    padding-top: 91px;
    position: relative;
    background-color: var(--color-bg);
    color: var(--color-text);
    a {
        color: var(--color-text);
    }
    svg {
        fill: var(--color-text);
    }
}
.burger-ul {
    text-align: center;
    align-items: center;
}
.header {
    background-color: var(--color-bg);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    &__theme {
        text-align: center;
        align-items: center;
        border: 0;
        background-color: transparent;
        svg {
            max-width: 30px;
            max-height: 30px;
            transition: all 0.3s;
        }
    }
    &__theme:hover {
        cursor: pointer;
        svg {
            fill: #FF6464;
        }
    }
    &__burger {
        transition: all 0.3s;
        span {
            transition: all 0.3s;
        }
        &.active {
        justify-content: center;
        span:nth-child(2) {
            background-color: transparent;
            opacity: 0;
            transform: scale(0);
            display: none;
        }
        span:nth-child(1) {
            transform: rotate(45deg) translateY(50%);
        }
        span:nth-child(3) {
            transform: rotate(-45deg) translateY(-50%);
        }
      }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    &__nav {
        display: flex;
        gap: 32px;
        align-items: center;
    }
    ul {
        display: flex;
        gap: 32px;
        &.active {
            display: flex;
            flex-direction: column;
            background: var(--color-bg-trans);
            position: absolute;
            left:0px;
            top: 0px;
            width: 100%;
            padding-top: 25%;
            padding-bottom: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
            z-index: 29;
            text-align: center;
            align-items: center;
            a {
                font-size: 25px;
            }
        }
    }
    &__nav a {
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        text-decoration: none;
        transition: all 0.3s;
        &.active-page {
            color: #FF6464;
        }
    }
    &__nav a:hover {
        color: #FF6464;
    }
}
.section {
    padding: 130px 0;
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__h1 {
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        margin-bottom: 40px;
    }
    &__p {
        max-width: 497px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 38px;
    }
    &__button {
        padding: 10px 20px;
        background: #FF6464;
        border-radius: 2px;
        border: 1px #FF6464 solid;
        transition: all 0.3s;
    }
    &__button:hover {
        background-color: transparent;
        cursor: pointer;
        a {
            color: #FF6464;
        }
    }
    &__button a {
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        text-decoration: none;
    }
    &__img {
        object-fit: cover;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        position: relative;
        display: block;
    }
    &__img::before {
        content: "";
        background: var(--color-bg-light);
        position: absolute;
        top: 10px;
        left: -10px;
        width: 250px;
        height: 250px;
        z-index: -1;
        border-radius: 100%;
    }
}
.works {
    padding: 32px;
    background-color: var(--color-bg-light);
    &__h2 {
        font-weight: 400;
        font-size: 22px;
        line-height: 60px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        margin-bottom: 22px;
    }
    &__view {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #00A8CC;
        transition: all 0.3s;
    }
    &__view:hover {
        color: #FF6464;
    }
    &__card1, &__card2, &__card3, &__card4 {
        position: relative;
    }
    &__card {
        background-color: var(--color-bg);
        border-radius: 4px;
        padding: 24px;
        display: flex;
        gap: 18px;
        margin-bottom: 16px;
        transition: all 0.3s;
        position: relative;
    }
    &__card::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: -10px;
        padding: 10px;
        border-radius: 100%;
        z-index: 2;
        background-color: var(--color-text);
    }
    &__card:hover {
        box-shadow: 0px 4px 30px rgba(187, 225, 250, 0.25);
    }
    &__card-img {
        max-width: 250px;
        height: 100%;
        border-radius: 6px;
        display: block;
        object-fit: cover;
    }
    &__card-left {
        position: relative;
    }
    &__card-orange {
        position: relative;
    }
    &__card-orange::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: -10px;
        padding: 10px;
        border-radius: 100%;
        z-index: 2;
        background-color: #FF6464;
    }
    // &__card-left::before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 95%;
    //     left: -10px;
    //     padding: 10px;
    //     border-radius: 100%;
    //     z-index: 2;
    //     background-color: #142850;
    // }
    &__card-h3 {
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
    }
    &__card-element {
        display: flex;
        gap: 26px;
        margin-bottom: 22px;
    }
    &__card-year {
        font-weight: 900;
        font-size: 18px;
        padding: 2px 10px;
        color: #FFFFFF;
        background: #142850;
        border-radius: 16px;
    }
    &__card-html {
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #8695A4;
    }
    &__card-info {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-width: 600px;
    }
    &__link {
        text-decoration: none;
    }
    &__link::before {
        content: "";
        position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
    }
}
.form {
    padding: 90px 0;
    text-align: center;
    align-items: center;
    &__h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 60px;
    }
    &__container {
        max-width: 600px;
    }
    &__info {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #21243D;
        margin-bottom: 35px;
    }
    &__df {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }
    &__main input {
        width: 100%;
        padding: 18px 0;
        border: 0;
        border-radius: 10px;
        background-color: var(--color-bg-light);
        padding-left: 20px;
        outline: 0;
        color: var(--color-text);
    }
    &__main textarea {
        width: 100%;
        color: var(--color-text);
        padding: 18px;
        border: 0;
        border-radius: 10px;
        background-color: var(--color-bg-light);
        padding-left: 20px;
        outline: 0;
        resize: none;
        margin-bottom: 20px;
    }
    &__button {
        padding: 10px 40px;
        background: #FF6464;
        border-radius: 2px;
        border: 1px #FF6464 solid;
        transition: all 0.3s;
        font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            color: #FFFFFF;
            text-decoration: none;
    }
    
    &__button:hover {
        background-color: transparent;
        cursor: pointer;
        color: #FF6464;
    
    }
}
.footer {
    padding: 50px;
    text-align: center;
    align-items: center;
    &__link {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 10px;
    }
    svg {
        max-width: 40px;
        max-height: 40px;
        transition: all 0.3s;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    span {
        font-weight: 700;
    }
}
.work {
    margin-bottom: 60px;
    img {
        max-width: 400px;
        width: 100%;
    }
    &__card {
        background-color: var(--color-bg-light);
        padding: 20px;
        border-radius: 6px;
        align-items: center;
        text-align: center;
    }
    &__text {
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
    }
    &__img {
        border-radius: 6px;
        margin-bottom: 20px;
    }
    &__element {
        text-align: center;
        align-items: center;
        justify-content: center;
        // flex-direction: column-reverse;
        // gap: 10px;
    }
    &__h1 {
        text-align: center;
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        margin-bottom: 20px;
    }
    &__h2 {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 40px;
    }
    &__button {
        padding: 10px 30px;
        background: #FF6464;
        border-radius: 2px;
        border: 1px #FF6464 solid;
        transition: all 0.3s;
    }
    
    &__button:hover {
        background-color: transparent;
        cursor: pointer;
        a {
            color: #FF6464;
        }
    }
    
    &__button a {
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        text-decoration: none;
    }
}
.telegram:hover {
    fill: #FF6464;
    // filter:drop-shadow(0px 0px 10px #38a6db);
    
}
.linkedin:hover {
    fill: #FF6464;
    // filter: drop-shadow(0px 0px 10px #0077b7);
}
.github:hover {
    fill: #FF6464;
    // filter: drop-shadow(0px 0px 10px #1a1d21);
}
.active-page {
    color: #FF6464;
}
@media (max-width:880px) {
    .container {
        padding: 0 10px;
    }
}
@media (max-width:767px) {
    .work__grid {
        grid-template-columns: 1fr;
    }
   .header__burger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 30;
    span {
        width: 100%;
        height: 2px;
        background-color: var(--color-text);
        display: block;
    }
   } 
   .header__nav {
    ul {
        display: none;
    }
   }
   .section__content {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
    text-align: center;
   }
   .works__card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
   }
   .works__card-right {
    align-items: center;
    text-align: center;
    justify-content: center;
   }
   .works__card-img {
    width: 100%;
   }
   .works__card-element {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
   }
   .form__df {
    flex-direction: column;
   }
}